{% set title = 'Aplikasyon' %}
{% set description = 'Taşınmaz malların sınırlarının ve konumunun belirlenmesi işlemidir. Ölçme teknolojileri kullanılarak yapılan bu işlem, taşınmazın tapu kayıtlarına uygun olarak gerçekleştirilir.' %}
{% set documents = ['Tapu senedi veya kaydı yapılmış parselin kaydı', 'Ön ödeme (Ücret tablosuna göre)', 'İmzalı yetki belgesi (Sahibi tarafından)', 'Güncel kimlik belgesi'] %}
{% set steps = ['Müşteri ile görüşme ve başvuru alınması', 'Tapu ve kadastro kayıtlarının kontrol edilmesi', 'Arazi üzerinde ölçme çalışması yapılması', 'Aplikasyon haritasının hazırlanması', 'Müşteriye teslim ve tescil işlemleri'] %}
{% set duration = '5-7 iş günü' %}
{% include 'service_template.html' %}
