{% set title = 'Bağımsız Bölüm Yer Gösterme' %}
{% set description = 'Apartman ve benzeri yapılarda bağımsız bölümlerin ayrı ayrı gösterilme işlemidir.' %}
{% set documents = ['Tapu senedi', 'Ön ödeme', 'Yetki belgesi', 'Kimlik belgesi'] %}
{% set steps = ['Bağımsız bölümlerin listesi alınması', 'Mühendislik planlarının incelenmesi', 'Arazi ölçmesi yapılması', 'Yer gösterme haritasının hazırlanması', 'Tescil işlemleri'] %}
{% set duration = '7-10 iş günü' %}
{% include 'service_template.html' %}
