{% set title = 'Birleştirme' %}
{% set description = 'Aynı kişiye ait iki veya daha fazla parselin birleştirilme işlemidir. Arsalar bitişik ise daha geniş bir arsa haline getirilebilir.' %}
{% set documents = ['Tapu senetleri', 'Ön ödeme', 'Yetki belgesi', 'Kimlik belgesi'] %}
{% set steps = ['İsteklerin karşılanması', 'Tapu kayıtlarının kontrol edilmesi', 'Birleştirme haritasının hazırlanması', 'Tapu müdürlüğü başvurusu', 'Birleştirilmiş tapu senedinin alınması'] %}
{% set duration = '10-14 iş günü' %}
{% include 'service_template.html' %}
