{% set title = 'Cins Değişikliği' %}
{% set description = 'Taşınmaz malın cinsi (tapuda kayıtlı türü) değiştirilme işlemidir. Örneğin arsa, bağ, tarla gibi cinslerinin birbirine değiştirilmesinde kullanılır.' %}
{% set documents = ['Tapu senedi', 'Ön ödeme', 'Yetki belgesi', 'Kimlik belgesi'] %}
{% set steps = ['Müşteri ile görüşme', 'Tapu kaydının kontrol edilmesi', 'Cins değişikliğinin belgeleştirilmesi', 'Tapu müdürlüğü işlemleri', 'Güncellenmiş tapu senedi alınması'] %}
{% set duration = '10-15 iş günü' %}
{% include 'service_template.html' %}
